#treeid table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	cursor: help;
}

#treeid td, #treeid th {
	font-size: 14px;
    border: 0px solid #555555;
    text-align: center;
    padding: 0px;
	width: 1.5%;
}
