<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("UI/css/indexstyle.css") }} type="text/css" />
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body">

		<div id = "content">

			<div id = "contentright">
				<a href="/DC/DCIndex">
				<img src={{ static_url("UI/img/analizedump.png") }} alt="Configure CLI" height="75%" width="75%" align="middle" class="imgshdw">
				</a>
				<br><br>
				<h1>Decoder Module</h1>
			</div>
			

			<div id="contentright">
				<a href="/DB/DBIndex">
				<img src={{ static_url("UI/img/analizedump.png") }} alt="Configure CLI" height="75%" width="75%" align="middle" class="imgshdw"> 
				</a>
				<br><br>
				<h1>Debbuger Module</h1>
			</div>
		</div>
	</body>
</html>
