<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("DC/css/DCstyle.css") }} type="text/css" />
		<link rel="stylesheet" href={{ static_url("DC/css/popupcss.css") }} type="text/css" />
		<link rel="stylesheet" href={{ static_url("DC/css/tablecss.css") }} type="text/css" />
		<script src={{ static_url("DC/js/myutil.js") }}></script>
		<script src={{ static_url("DC/js/complete.js") }}></script>
		<script src={{ static_url("DC/js/DyDe.js") }}></script>
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content">
				<div id = "nav2">Register Value: 
				</div>
				<div id ="nav1">
					<script src={{ static_url("DC/js/completeassist.js") }}></script>
				</div>
				<div id ="nav3">
				</div>
				<br>
				<br>
			</div>
		
		<div id="content2">
			<div id = "contentleft"><button type="button" onclick="AddRegisterQueue()" style="float: right;">Add Register</button><left><h3>Current Register Tree</h3>  (click on register to traverse back in tree)</left>
			<div id = "0" onclick = "deletenodes(this)">
			<hr>
			|-procyon
			</div>
			</div>
			<div id = "contentright"><button type="button" onclick="SubmitRegisterQueue()" style="float: right;">Submit</button><left><h3>Selected Registers</h3> (click on remove from list)<hr></left></div>
		<br>
		</div>

		<link rel="stylesheet" href={{ static_url("DC/css/treeviewcss.css") }} type="text/css" />
		<div id="myModal" class="modal-box">
		  <!-- Modal content -->
			<div class="modal-content">
				<span class="modal-close">x</span>
					<h2>Current Register Tree</h2>  (click on register to traverse back in tree)
					<hr>
		<ul id="treeid" class="tree">
<li><lsc href="#">.cgi_csr32_dbg.cgi_mdma_rsp_fifo_csrs.fifo_wr</lsc><ul><li><table><tr>
<th>0-4</th>
<th>5-15</th>
<th>16-21</th>
<th>22-31</th>
</tr>
<tr>
<td>0x19</td>
<td>0x000</td>
<td>0x22</td>
<td>0x000</td>
</tr>
</table></li></ul></li>

		</ul>


		<!--li><lsc href="#">Part 2</lsc>
			<ul>
			<li>Item A</li>
			</ul>
		</li>

		<li><lsc href="#">Part 3</lsc>
			<ul>
			<li>hihihi</li>
			</ul>
		</li--->

		<div style="height:200px;"></div>
			</div>
		</div>

		<script src={{ static_url("DC/js/popupjs.js") }}></script>
		<script src={{ static_url("DC/js/treeviewjs.js") }}></script>
		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[Raj Samant]</a>
			</p>
		</div>

	</div>
</body>
</html>

