<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("task2/css/style.css") }} type="text/css" />
		<script src={{ static_url("task2/js/myutil.js") }}></script>
		<script src={{ static_url("task2/js/complete.js") }}></script>
		<script src={{ static_url("task2/js/DyDe.js") }}></script>
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content">
				<div id = "nav2">Register Value: 
				</div>
				<div id ="nav1">
					<script src={{ static_url("task2/js/completeassist.js") }}></script>
				</div>

				<div id ="nav3">
					<form id="lizardPeople" name="teenageMutant">
						Single Register<input id="singleregister" name = "numberofregistrrequest" type="radio"/>
						Multiple Register<input id="multipleregister"  name = "numberofregistrrequest" type="radio"/>
						Tree Register<input id="treeregister"  name = "numberofregistrrequest" type="radio"/>
					</form>
				</div>

				<div id="nav4">					
					<button type="button" onclick="GetRegisterValues()">Get Register Values</button>
					<div id="demo">
					</div>
				</div>

				<br>
				<br>

			</div>

		<div id="content">
			<div id="holder">
			</div>
		</div>

		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[Raj Samant]</a>
			</p>
		</div>

	</div>
</body>
</html>
