table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #555555;
    text-align: left;
    padding: 2px;
}

th:nth-child(even) {
    background-color: #dddddd;
}
td:nth-child(even) {
    background-color: #dddddd;
}
