/*
* multi-line comment
*/
p { 
	line-height: 1em;
}

h1, h2, h4 {
    color: #c8600b;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .0em 0;
}



h1 {
	font-size: 1.7em;
}

h2{
	font-size: 1.5em;
}

text{
	font-size: 1.5em;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body {
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page {
	margin: 5px;
}

/* or on different lines like below */
#logo {
	width: 35%;
	margin-top: 2px;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
#nav {
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}

#nav ul {}

#nav ul li {
	display: inline-block;
	height: 62px;
}

#nav ul li a {
	padding: 20px;
	background: orange;
	color: white;
}

#nav ul li a:hover {
	background-color: #ffb424;
	box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active {
	background-color: #ff8f00;
}

#content {
	margin: 10px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#contenthalf {
	margin: 10px 0;
	background: white;
	padding: 20px;
	clear: both;
	width:50%;
}

#footer {
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer p {
	text-align: right;
	text-transform: uppercase;
	font-size: 80%;
	color: grey;
}

#nav1 {
	width: 5%;
	display: inline-block;
	text-align: left;
	float: left;
	font-size: 20px;
	
	border:2px solid #999;
	padding: 5px;
}

#nav2 {
	width: 30%;
	display: inline-block;
	text-align: left;
	float: left;
	font-size:20px;
	padding: 10px;
}

#nav3 {
	width: 30%;
	display: inline-block;
	text-align: left;
	float: left;
	font-size: 20px;
}

#nav4 {
	width: 15%;
	display: inline-block;
	text-align: right;
	float: right;
	font-size: 20px;
}

#form1 {
	width: 50%;
	text-align: left;
	font-size: 20px;
}


#holder {
	background: white;
}

/* multiple styles seperated by a , */
#content, ul li a {
	box-shadow: 0px 4px 4px #777;
	padding: 15px;
}

#contentwarning {
	color: red;
	box-shadow: 0px 4px 4px #777;
	padding: 15px;
	background: white;	
	font-size: 1.5em;
	display: none;
}

#contentleft {
	width: 50%;
	padding: 10px;
	float:left;
	background: white;
}

#contenthalf, ul li a {
	box-shadow: 0px 2px 1px #999;
}

#elem {
    position: absolute;
    background-color: rgba(92, 92, 92, 0.44);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    /*user-select: none;*/
    resize: both;
    overflow: auto;
    border: 2px solid;
    padding: 20px;
}

.elemclass {
	position: absolute;
	background-color: rgba(92, 92, 92, 0.44);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;     
	/*user-select: none;*/
	resize: both;
	overflow: auto;
	border: 2px solid;
	padding: 20px;
}
