<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("UI/css/indexstyle.css") }} type="text/css" />
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body">

		<div id = "content">

			<div id = "contentleft">
				<a href="/UI/RouterLogin">
				<img src={{ static_url("UI/img/analizedump.png") }} alt="Configure CLI" height="85%" width="85%" align="middle" class="imgshdw">
				</a>
				<br><br>
				<h1>Configure CLIs</h1>
			</div>

			<div id="contentleft">
				<a href="/UI/RouterLogin">
				<img src={{ static_url("UI/img/analizedump.png") }} alt="Configure CLI" height="85%" width="85%" align="middle" class="imgshdw"> 
				</a>
				<br><br>
				<h1>Connect Router</h1>
			</div>

			<div id="contentleft">
				<a href="/UI/RouterLogin">
				<img src={{ static_url("UI/img/analizedump.png") }} alt="Configure CLI" height="85%" width="85%" align="middle" class="imgshdw">
				</a>
				<br><br>
				<h1>Analize CLI Dump</h1>
			</div>
		</div>
	</body>
</html>
