<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href={{ static_url("UI/CSS/RouterLoginstyle.css") }} type="text/css" />
        <script src={{ static_url("UI/JS/RouterLoginjs.js") }}></script>
        <title>
            DDCDB Utility
        </title>
    </head>

    <body id = "body" onload="onLoad()">
        <div id="page" align = "center">
            <div id = "content">
                <h1>Please Enter Details</h1>
            </div>

            <div id = "contentwarning">
            </div>

            <div id="logincontent" style = "display: block">
                <div id = "content">
                    <table>
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">
                                    <form>
                                        <fieldset>
                                            <legend>
                                                <h2>Login Details:</h2>
                                            </legend> 
                                            <text id = "lnuntxt">User Name:</text>
                                            <input id = "lnunfld" type="text" value="BruceWayne" /><br /><br /> 
                                            <text id = "lnpwtxt">Password:</text>
                                            <input id = "lnpwfld" type="password" value="CozIAmBatman" /><br /><br /> 
                                            <div id = "pinmng" style="display:none;">
                                                <text id = "lnpntxt">Pin:</text>
                                                <input id = "lnpnfld" type="text" value="" /><br>
                                                <button type="button" onclick="OnPin()" >Verify Pin</button><br /> <br />
                                            </div>
                                            <button type="button" onclick="OnLoginSubmit()" >Log In</button>
                                            <button type="button" onclick="OnSignUp()">Sign In</button>
                                        </fieldset>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id = "selectoption" style = "display: none">
                <div id = "content">
                    <form>
                        <input type="radio" name = "dcdboption" id="optdecoder" value="decoder" onclick = "DisplayModule('dec')"> <text>Decoder</text> &nbsp;&nbsp;&nbsp;
                        <input type="radio" name = "dcdboption" id="optdebugger" value="debugger" onclick = "DisplayModule('deb')"> <text>Debugger</text><br>
                    </form>
                </div>

                <div id = "content">
                    <div id="debuggercontent" style = "display: none">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        <form style = "text-align:left">
                                            <fieldset>
                                                <legend>
                                                    <h2>Intermidiate Hop Details:</h2>
                                                </legend>
                                                <text id = "ihdiptxt">IP Address:</text>
                                                <input id="ihdipfld" type="text" /><br /><br />
                                                <text id = "ihduntxt">Username:</text>
                                                <input id="ihdunfld" type="text" /><br /><br />
                                                <text id="ihdpwtxt">Password:</text>
                                                <input id="ihdpwfld" type="password" /><br /><br />
                                            </fieldset>
                                        </form>
                                    </td>

                                    <td style="text-align: center;">
                                        <form style = "text-align:left">
                                            <fieldset>
                                                <legend>
                                                    <h2>Port Details:</h2>
                                                </legend>
                                                <text id = "pdcptxt">Console Port:</text> 
                                                <input id = "pdcpfld" type="text" value="45"/><br /><br />
                                                <text id = "pdaptxt">Auxiliary Port:</text>
                                                <input id = "pdapfld" type="text" value="44"/><br /><br />
                                                <text id = "pdmptxt">Management Port:</text>
                                                <input id = "pdmpfld" type="text" value="22"/><br /><br />
                                            </fieldset>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;" colspan="2">
                                        <form>
                                            <fieldset>
                                                <legend>
                                                    <h2>Router Details:</h2>
                                                </legend>
                                                <text id = "routtxt">Router Name:</text>
                                                <input id = "routfld" type="text" value="ASR1001-X" /><br /><br />
                                                <text id = "rddntxt">Device Name:</text>
                                                <input id = "rddnfld" type="text" value="Router#" /><br /><br />
                                                <text id = "rdiptxt">IP Address:</text>
                                                <input id = "rdipfld" type="text" value="10.104.33.223" /><br /><br/>
                                                <text id = "rduntxt">Username:</text>
                                                <input id = "rdunfld" type="text" value="lab" /><br /><br /> 
                                                <text id = "rdpwtxt">Password:</text> 
                                                <input id = "rdpwfld" type="password" value="lab" /><br /><br />
                                                <button type="button" onclick="OnDebuggerSubmit()">Log In</button>
                                            </fieldset>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="decodecontent" style = "display: none">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;" colspan="2">
                                        <form>
                                            <fieldset>
                                                <legend>
                                                    <h2>Router Details:</h2>
                                                </legend> 
                                                <text id = "rddntxt">Device Name:</text>
                                                <input id = "rddnfld" type="text" value="ASR1K" /><br /><br /> 
                                                <text id = "rdiptxt">IP Address:</text>
                                                <input id = "rdipfld" type="text" value="10.104.33.223" /><br /><br /> 
                                                <text id = "rduntxt">Username:</text>
                                                <input id = "rdunfld" type="text" value="root" /><br /><br /> 
                                                <text id = "rdpwtxt">Password:</text> 
                                                <input id = "rdpwfld" type="password" value="lab" /><br /><br />
                                                <button type="button" onclick="OnDecoderSubmit()">Log In</button>
                                            </fieldset>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="footer">
                <p>
                    Webpage made by [DDCDB Team]</a>
                </p>
            </div>

        </div>
    </body>

</html>
