/*
* multi-line comment
*/

h1 {
    color: black;
	font-weight: normal;
	line-height: 1em;
	margin: 0 0 .5em 0;
	font-size: 40px;
}


/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body {
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}


/* multiple styles seperated by a , */
#content{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;

}

#contentleft{
	width: 30%;
	float: left;
	text-align: center;
}

#contentright{
	width: 450%;
	float: left;
	vertical-align: middle; 
	text-align: center
}

.imgshdw {
    filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);  
    -ms-filter: blur(1px);
	transform: scale(0.9);
} 

.imgshdw:hover { 
    filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);  
    -ms-filter: blur(0px);
	transform: scale(0.9);

	-moz- box-shadow: 0px 10px 30px #333333;
	-webkit-box-shadow: 0px 10px 30px #333333;
	box-shadow: 0px 20px 30px #333333; 
}


