<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("task2/css/style.css") }} type="text/css" />
		<script src={{ static_url("task2/js/myutil.js") }}></script>
		<script src={{ static_url("task2/js/complete.js") }}></script>
		<script src={{ static_url("task2/js/DyDe.js") }}></script>
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content">
				
				<br>
				<br>

			</div>

		<div id="content">
			<div id="holder">
				
			</div>
		</div>

		<div id="footer">
			<p>
				Webpage made by <a href="/">[Raj Samant]</a>
			</p>
		</div>

	</div>
</body>
</html>
