<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("DC/css/DCstyle.css") }} type="text/css" />
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content" >
				<h1>Configuration Compare Module</h1>
				<hr>
				<text style = "	font-size: 1.5em;">This module helps you compare current register configuration with previously saved configurations. You can also save current configuration in database.
			</div>

			<div id = "content" style="font-size: 1.5em; overflow:auto; text-align: left; ">
				<text >
 					Enter configuration name:    
					<input type="text" name="fname">
				<div id ="nav3" style="width=30%;">
					<button type="button" onclick="LogOff()" style="float: right;">Save Configuration</button>
				</div>
			</div>

			<div id = "content" style="font-size: 1.5em; overflow:auto; text-align: left; ">
				<text >
 					Select configuration name to compare with:    
					<select id="mySelect" onchange="console.log(this.selectedIndex);" onfocus="this.selectedIndex = -1;">
	  					<option value="Luke">Luke</option>
						<option value="Luke">Procyon</option>
						<option value="Luke">Yoda</option>
					</select>
				<div id ="nav3" style="width=30%;">
					<button type="button" onclick="Compare()" style="float: right;">Compare Configuration</button>
				</div>
			</div>

		</div>
		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[ACE | RNS111]</a>
			</p>
		</div>

		
	</body>
</html>

