<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href={{ static_url("DC/CSS/DCstyle.css") }} type="text/css" />
        <link rel="stylesheet" href={{ static_url("DC/CSS/awesomplete.css") }} type="text/css" />
		<link rel="stylesheet" href={{ static_url("DC/CSS/popupcss.css") }} type="text/css" />
        <script src={{ static_url("DC/JS/DyDe.js") }}></script>
        <script src={{ static_url("DC/JS/awesomplete.js") }}></script>

		<title>Dynamic Decoder</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">

            <div id = "decwarning">
                            
                            
            </div>

		    <div id = "content">
                <table style="width:100%">
                    <tr>
                        <td width="33%">
                            <text style="font-size:20px">Select Asic :</text><select id="mySelect" onchange="SelectAsic()"></select>
                        </td>
                        <td width="33%">
                            <table id="inputtextbox" style="width:100%;display:block;"">
                                <tr>
                                    <td width="25%"><text style="font-size:20px">Register Name</text></td>
                                    <td width="75%"><input size="35" id = "awesompleteinputtext" class="awesomplete" data-autofirst data-list="" xautofocus /></td>
                                </tr>
                            </table>
                        </td>
                        <td width="33%" align="right">
            				<button type="button" onclick="LogOff()" style="float: right;">Log Off</button>
            				<button type="button" onclick='window.open("/DC/DCHelp")' style="float: right;">Need Help???</button>
                        </td>
                    </tr>
                </table>
		    </div>

            <div id="content2" style="display:none;">
                <div id = "contentleft">
                    <button type="button" onclick="AddRegisterQueue()" style="float: right;">Add Register to Query List</button>
                    <left><h3>Current Register Hierarchy</h3>  (click on register name to traverse back in hierarchy)<hr></left>
                    <div id = "treeregister">
                    </div>
                </div>
                <div id = "contentright">
                    <button type="button" onclick="ManageRegisterQueue()" style="float: right;">Manage Queue</button>
                    <button type="button" onclick="SubmitRegisterQueue()" style="float: right;">Submit</button>
                    <left><h3>Selected Register List for Query</h3> (click on register name remove from list)<hr></left>
                    <div id = "queueregister">
                    </div>
                </div>
                <br>
            </div>

		    <div id="templateModal" class="modal-box" >
			    <div class="modal-content">
				    <span class="modal-close" onclick = "closepopup(this)">x</span>
					    <h2>Register Queue Template Management</h2>  Register Queue tamplates can be modified in this section.
					    <hr>
                        <div id = "popupwarning">
                            
                            
                        </div>
                        <br />
                            <form>
                                <text style="font-size:20px">Template Name:</text>
                                <input id = "savetemplatename" type="text" value="temp1" /><button type="button" onclick="savetemplate(document.getElementById('savetemplatename').value)">Save</button>
                                <br /><br /> 
                                <text style="font-size:20px">Select Template :</text><select id="templateSelect" onchange=""></select>
                                <button type="button" onclick="loadtemplate(true)">Load</button><button type="button" onclick="loadtemplate(false)">Load & Append</button><button type="button" onclick="savetemplate(document.getElementById('templateSelect').value)">Replace</button><button type="button" onclick="downloadtemplate()">Download</button>
                                <br /><br />
                                <text style="font-size:20px">Browse Template:</text> <input type="file" id="fileInput" accept='text/plain'><button type="button" onclick="uploadtemplate(true);">Upload & Replace</button><button type="button" onclick="uploadtemplate(false);">Upload & Append</button>
                                
                                
                            </form>
				    <div style="height:20px;">
				    </div>
			    </div>
		    </div>

			<link rel="stylesheet" href={{ static_url("DC/CSS/treeviewcss.css") }} type="text/css" />
		    <link rel="stylesheet" href={{ static_url("DC/CSS/tablecss.css") }} type="text/css" />
			<div id="resultmodel" class="modal-box" >
				<div class="modal-content">
					<span class="modal-close" onclick = "closepopup(this)">x</span>
						<h2>Requested Register Values</h2>  (Click on register name to expand and view value table. Click on expanded name to collapse the detail view.)
						<hr>
						<ul id="treeid" class="tree">
						</ul>
					<div style="height:200px;">
					</div>
				</div>
			</div>

			<!--script src={{ static_url("DC/JS/popupjs.js") }}></script-->

			<popuptag id = "descppop"> 
				<p>
					<b>Reg Name</b>: <text id="regname">asdasd</text><br>
					<b>Reg Address:</b> <text id="regaddr">asdasd</text><br>
					<b>Fld Name Alias</b>: <text id="fldalias">asdsad</text><br>
					<b>Fld Descp</b>: <text id="flddesc">sadasd</text>
				</p>
			</popuptag>


        </div>

	</body>
</html>

