.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    visibility: hidden;
    position:absolute;
    left:0px;
    top:0px;
	background:#ddd;
    border:0px solid #000;
    width:200px;
    height:200px;
}

