<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("DC/css/DCstyle.css") }} type="text/css" />
		<link rel="stylesheet" href={{ static_url("DC/css/popupcss.css") }} type="text/css" />
		<link rel="stylesheet" href={{ static_url("DC/css/tablecss.css") }} type="text/css" />
		<script src={{ static_url("DC/js/myutil.js") }}></script>
		<script src={{ static_url("DC/js/complete.js") }}></script>
		<script src={{ static_url("DC/js/DyDe.js") }}></script>
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content">
				<div id = "nav0">
					<text style="font-size:20px">Select Asic :</text> 
					<select id="mySelect">
						<option value="Luke">Luke
					</select> 
				</div>
			</div>

			<div id = "content">
				<div id = "nav2">
					Register Name:
				</div>
				<div id ="nav1">
					<script src={{ static_url("DC/js/completeassist.js") }}></script>
				</div>
				<div id ="nav3">
					<button type="button" onclick="LogOff()" style="float: right;">Log Off</button>
				</div>
				<br>
				<br>
			</div>
		
		<div id="content2">
			<div id = "contentleft"><button type="button" onclick="AddRegisterQueue()" style="float: right;">Add Register to Query List</button><left><h3>Current Register Hierarchy</h3>  (click on register name to traverse back in hierarchy)</left>
			<div id = "0" onclick = "deletenodes(this)">
			<hr>
			|-Luke
			</div>
			</div>
			<div id = "contentright"><button type="button" onclick="SubmitRegisterQueue()" style="float: right;">Submit</button><left><h3>Selected Register List for Query</h3> (click on register name remove from list)<hr></left></div>
		<br>
		</div>

		<link rel="stylesheet" href={{ static_url("DC/css/treeviewcss.css") }} type="text/css" />
		<div id="myModal" class="modal-box">
		  <!-- Modal content -->
			<div class="modal-content">
				<span class="modal-close">x</span>
					<h2>Requested Register Values</h2>  (Click on register name to expand and view value table. Click on expanded name to collapse the detail view.)
					<hr>
		<ul id="treeid" class="tree">
		</ul>
		<div style="height:200px;"></div>
			</div>
		</div>

		<script src={{ static_url("DC/js/popupjs.js") }}></script>
		<script src={{ static_url("DC/js/treeviewjs.js") }}></script>

		<popuptag id = "descppop"> 
			<p>
				<b>Reg Name</b>: <text id="regname">asdasd</text><br>
				<b>Reg Address:</b> <text id="regaddr">asdasd</text><br>
				<b>Fld Name Alias</b>: <text id="fldalias">asdsad</text><br>
				<b>Fld Descp</b>: <text id="flddesc">sadasd</text>
			</p>
		</popuptag>

		<div id="footer">
			<p>
			</p>
		</div>

	</div>
</body>
</html>
