<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href={{ static_url("UI/css/RouterLoginstyle.css") }} type="text/css" />
		<script src={{ static_url("UI/js/RouterLoginjs.js") }}></script>

		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload="onLoad()">
		<div id="page" align = "center">
			<div id = "content">
				<h1>Please Enter Router Details</h1>
			</div>

			<div id = "contentwarning">
				
			</div>

		<div id="content">
			<table>
				<tbody>
					<tr>
						<td style="text-align: center;">
							<form style = "text-align:left">
							<fieldset>
							<legend>
								<h2>Intermidiate Hop Details:</h2>
							</legend>
								<text id = "ihdiptxt">IP Address:</text>
							<input id="ihdipfld" type="text" /><br /><br /> 
								<text id = "ihduntxt">Username:</text> 
							<input id="ihdunfld" type="text" /><br /><br /> 
								<text id="ihdpwtxt">Password:</text> 
							<input id="ihdpwfld" type="password" /><br /><br />
							</fieldset>
							</form>
						</td>
						<td style="text-align: center;">
							<form style = "text-align:left">
								<fieldset>
								<legend>
									<h2>Port Details:</h2>
								</legend> 
									<text id = "pdcptxt">Console Port:</text> 
								<input id = "pdcpfld" type="text" /><br /><br /> 
									<text id = "pdaptxt">Auxilary Port:</text>
								<input id = "pdapfld" type="text" /><br /><br /> 
									<text id = "pdmptxt">Management Port:</text>
								<input id = "pdmpfld" type="text" /><br /><br />
							</fieldset>
							</form>
						</td>
					</tr>
						<tr>
						<td style="text-align: center;" colspan="2">
						<form>
						<fieldset>
							<legend>
								<h2>Router Details:</h2>
							</legend> 
								<text id = "rddntxt">Device Name:</text>
							<input id = "rddnfld" type="text" value="" /><br /><br /> 
								<text id = "rdiptxt">IP Address:</text>
							<input id = "rdipfld" type="text" value="" /><br /><br /> 
								<text id = "rduntxt">Username:</text>
							<input id = "rdunfld" type="text" value="" /><br /><br /> 
								<text id = "rdpwtxt">Password:</text> 
							<input id = "rdpwfld" type="password" value="" /><br /><br />
							<button type="button" onclick="OnSubmit()">Log In</button>
						</fieldset>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		
						
					
				



		</div>

		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[Raj Samant]</a>
			</p>
		</div>

	</div>
</body>
</html>
