/*
* multi-line comment
*/

body {
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page {
	margin: 2px;
}

p { 
	line-height: 1em;
}

h1, h2, h3, h4 {
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2{
	font-size: 1.5em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

#content {
	margin: 10px 0;
	background: white;
	padding: 10px;
	clear: both;
}

#content, ul li a {
	box-shadow: 0px 4px 4px #777;
}


#content2 {
	box-shadow: 0px 4px 4px #777;
	overflow:auto;
	background: white;
	padding: 20px;
	line-height: 1.5em;
}

#contentleft{
	width:49%;
	float: left;
	font-size: 1.5em;
	/*border-right: thick double #000;*/
	text-align: left;
}

#contentright{
	width:49%;
	float: right;
	font-size: 1.5em;
/*	border-left: thick double #000;*/
	text-align: left;
}

texttree:hover{
    background-color: hsl(60, 0%, 80%);
    cursor: pointer;
}

quelist:hover{
    background-color: hsl(60, 0%, 80%);
    cursor: pointer;
}
