/* The Modal (background) */
.modal-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
	padding-bottom: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border: 1px solid #888;
    width: 50%;
/*	height:90%*/
	overflow: hidden;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

popuptag {
    position: fixed;
    display: none;
	text-align:left;
	font-size: 16px;
    background: #eee;
    border: 1px solid;
	padding: 0px 5px 0px 5px;
	z-index: 2;
}

#popupwarning, #decwarning {
	color: red;
	box-shadow: 0px 4px 4px #777;
	padding: 15px;
	background: white;	
	font-size: 1.5em;
	display: none;
}

