<!DOCTYPE html>
<html onclick="htmlclick()">
	<head>
		<link rel="stylesheet" href={{ static_url("DC/css/DCstyle.css") }} type="text/css" />
		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload = "onBodyLoad()">
		<div id="page" align = "center">
			<div id = "content" >
			<h1>The Force is strong with these steps</h1>
			</div>
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h1.png") }} alt="Select ASIC" height="17%" width="17%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i1.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft"  style="width:30%"><left><h3>Step 1</h3></left>
					<hr>
					Select your ASIC.
					<br>
					Selected ASIC name will appear.	
				</div>
			</div>
			<br>
</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;">
				<img src={{ static_url("DC/img/h2.png") }} alt="Select ASIC" height="25%" width="25%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i2.png") }} alt="Select ASIC" height="35%" width="25%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 2</h3></left>
					<hr>
					Start typing name of register and suggestion of register list will appear. The registers in suggestion list belong to 1<sup>st</sup> level in register tree structure.
				</div>
			</div>
			<br>
		</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h3.png") }} alt="Select ASIC" height="25%" width="25%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i3.png") }} alt="Select ASIC" height="25%" width="25%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 3</h3></left>
					<hr>
					Press '<b>,</b>' (comma) to submit current name. The name will appear in '<b>Current Register Hierarchy</b>' section. Text box will clear, and suggestion list will be loaded by daughter register of submitted register.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;">
				<img src={{ static_url("DC/img/h5.png") }} alt="Select ASIC" height="30%" width="30%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i5.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 4</h3></left>
					<hr>
					To display value of single register you may navigate till leaf node. Else you may stop at intermidiate note to submit entire sub-tree.
				</div>
			</div>
			<br>
		</div>

		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h6.png") }} alt="Select ASIC" height="35%" width="35%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i6.png") }} alt="Select ASIC" height="25%" width="25%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 5</h3></left>
					<hr>
					Press '<b>Add Register to Query List</b>' button add single or multiple registers to query list. You may add single or multiple registers, also add leaf register or subtree.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h7.png") }} alt="Select ASIC" height="30%" width="30%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i7.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 6</h3></left>
					<hr>
					If you have entered wrong register in '<b>Current Register Hierarchy</b>' you can click on previous level to roll back.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h8.png") }} alt="Select ASIC" height="30%" width="30%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i8.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 7</h3></left>
					<hr>
					Similarly you can delete entry from '<b>Selected Register List for Query</b>' by simply clicking on it.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h9.png") }} alt="Select ASIC" height="30%" width="30%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i9.png") }} alt="Select ASIC" height="25%" width="25%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 8</h3></left>
					<hr>
					To subit query press '<b>Submit</b>' button and pop up box will appear with all requested register and decoded values.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/h10.png") }} alt="Select ASIC" height="30%" width="30%">&nbsp; &nbsp;&nbsp;<img src={{ static_url("DC/img/i10.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 9</h3></left>
					<hr>
						Hover mouse over each field to get more information.
				</div>
			</div>
			<br>
			</div>
		<div id="page" align = "center">
			<div id="content2" style="overflow:auto;" style="width:30%">
				<img src={{ static_url("DC/img/i11.png") }} alt="Select ASIC" height="30%" width="30%">
				<div id = "contentleft" style="width:30%"><left><h3>Step 10</h3></left>
					<hr>
						Press '<b>Log off</b>' button to disconnect from router.
				</div>
			</div>
			<br>
			</div>
		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[ACE | RNS111]</a>
			</p>
		</div>

		
	</body>
</html>

