		body {
			font-family: Arial;
		}

		ul.tree li {
			list-style-type: none;
			position: relative;
		}

		ul.tree li ul {
			display: none;
		}

		ul.tree li.open > ul {
			display: block;
		}

		ul.tree li a {
			color: black;
			text-decoration: none;
		}

		ul.tree li a:before {
			height: 2em;
			padding:0em;
			font-size: 1.0em;
			display: block;
			position: absolute;
			left: -0.8em;
			top: 0.2em;
		}

		ul.tree li > a:not(:last-child):before {
			content: '+';
		}

		ul.tree li.open > a:not(:last-child):before {
			content: '-';
		}
