		body {
		}

		ul.tree li.tree {
			list-style-type: none;
			position: relative;
			text-align:left;
			cursor:pointer;
			font-weight:normal;
/*			padding:-5em 0em 0em -10em;*/
		}

		ul.tree li.tree ul {
			display: block;
		}

		ul.tree li.tree.open > ul {
			display: block;
		}

		ul.tree li lsc {
			line-height:1.5em;
			color: black;
			text-decoration: none;
			height: 2.5em;
/*			padding:-5em 0em 0em -10em;*/
			font-size: 1.5em;
		}

		ul.tree li.tree lsc:before {
			line-height:1.5em;
			height: 3.5em;
/*			padding:-5em 0em 0em -10em;*/
			font-size: 1.0em;
			display: block;
			position: absolute;
			left: -0.75em;
			top: -0.01em;
		}

		ul.tree li.tree > lsc:not(:last-child):before {
			content: '+';
		}

		ul.tree li.tree.open > lsc:not(:last-child):before {
			content: '-';
		}
