<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href={{ static_url("UI/css/RouterLoginstyle.css") }} type="text/css" />
		<script src={{ static_url("UI/js/RouterLoginjs.js") }}></script>

		<title>
			Dynamic Decoder	
		</title>
	</head>
	
	<body id = "body" onload="onLoad()">
		<div id="page" align = "center">
			<div id = "content">
				<h1>Please Enter Router Details</h1>
			</div>

			<div id = "contentwarning">		
			</div>

		<div id="content">
			<table>
				<tbody>
				<tr>
					<td style="text-align: center;" colspan="2">
						<form>
						<fieldset>
							<legend>
								<h2>Router Details:</h2>
							</legend> 
								<text id = "rddntxt">Device Name:</text>
							<input id = "rddnfld" type="text" value="ASR1K" /><br /><br /> 
								<text id = "rdiptxt">IP Address:</text>
							<input id = "rdipfld" type="text" value="10.104.33.159" /><br /><br /> 
								<text id = "rduntxt">Username:</text>
							<input id = "rdunfld" type="text" value="root" /><br /><br /> 
								<text id = "rdpwtxt">Password:</text> 
							<input id = "rdpwfld" type="password" value="lab" /><br /><br />
							<button type="button" onclick="OnSubmit()">Log In</button>
						</fieldset>
						</form>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div id="footer">
			<p>
				Webpage made by <a href={{ static_url("task2/index.html") }}>[Raj Samant]</a>
			</p>
		</div>	
	</body>
</html>
