<title>Tornado WebSockets</title>
<body onload="onLoad()">
<h1>Index</h1>
<h2>1 - <a href="../../../client/python/query/index.html">Get Register Value</a></h2>
<h2>2 - <a href="asdasd">Get System Status</a></h2></body>
